<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Celerey Learn</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<style type="text/css">
		.textarea_color::-webkit-input-placeholder {
		    color: red
		}
	</style>

	<script type="text/javascript">
		function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
	</script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand">Celery Self Learn</a>
    <div class="d-flex text-white">
    	<div>
    		1
    	</div>
    	<div>
    		2
    	</div>
    </div>
  </div>
</nav>

<div class="container">
	<div class="text-center mt-5">
		<form class="form-control w-50 m-auto card bg-dark text-white p-3">
			<div class="d-flex align-items-center justify-content-center">
				<label>Email</label>
				<input aria-describedby='email_clue' type="email" name="email" class="form-control-sm w-50 ms-3 email_form">
			</div>
			<div class="form-text" id='email_clue'>
				Please privide a valid email in order to send sms to email 
			</div>
			<div class="d-flex justify-content-center mt-3">
				<label>Text</label>
				<textarea class="form-control-sm w-50 ms-3 text_form" cols="50" rows="4" name="text"></textarea>
			</div>
			<div class="mt-3">
				<button type="button" class="btn btn-outline-primary px-5 form_submit_btn">Submit</button>
			</div>
		</form>
	</div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.form_submit_btn').on('click', function(){ 
			let email = $('.email_form').val()
			let text = $('.text_form').val()
			
			if(email == '') {
				$('.email_form').attr('placeholder', 'Text is required')
				$('.email_form').addClass('textarea_color')
			}
			if(text == '') {
				$('.text_form').attr('placeholder', 'Text is required')
				$('.text_form').addClass('textarea_color')
			}
			if(email != '' && text != '') {
				let url = '{% url "send_mail_ajax" %}';
				fetch(url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
                    	'X-CSRFToken': csrftoken,
					},
					body: JSON.stringify({'email': email, 'text': text})
				}).then(response => response.json())
				.then(data=>{
					console.log(data)
					if(data['response'] == 1) {
						alert('email send')
					}
				})
			}
		})
	})
</script>

</html>